/* *{
border: 1px dashed red;
} */

html{
    height: 100%;
}

hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: -40px;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  } 
.pageheader{
    background-color:#11999E;
    color: #E4F9F5;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}
main{
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: lightsteelblue;
    padding: 2rem;
}
.footer{
    background-color:#11999E;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    flex-shrink: 0;
    color: #E4F9F5;
}
body{
    font-size: 16px;
    font-family:'Noto Sans', sans-serif;
    /* color: #E4F9F5; */
    margin: 0 0 0 0;
    background-color: #FCF6F5FF;
    /* background-color: #565A5C; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
  flex: 1 0 auto;
}

a:hover{
    background-color:burlywood;
    color:darkmagenta;
    transition: 500ms;
}
a:visited{
    color:midnightblue;
}
img{
    border-style:outset;
}
.imgLesson6:hover{
  transform: rotate(45deg);
  transition-duration:500ms;
  width: 10rem;
  height: 10rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #30E3CA;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .linav {
    float: left;
  }
  
  .linav a {
    display: inline-block;
    transition: 500ms;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .linav a:hover {
    background-color:darkgray;
    font-size: 1.25rem;
  }
  * {
    box-sizing: border-box;
  }

section article:nth-child(even){
    background-color: #e6e6e6;
    padding: 2rem;
}
section article:nth-child(odd){
    background-color: #f2f2f2;
    padding: 2rem;
}

main h3{
  background-color:seagreen;
  padding: 1rem;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formbackground {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 8px 0;
}

  /* .row {
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 10px;
    height: 300px;
  } */