/* *{
border: 1px dashed red;
} */
hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: -40px;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  } 
.pageheader{
    background-color:#11999E;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}
main{
    background-color: #40514E;
}
footer{
    background-color:#11999E;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}
body{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: #E4F9F5;
    margin: 0 0 0 0;
    background-color: #40514E;
}
a:hover{
    background-color:burlywood;
    color:darkmagenta;
}
a:visited{
    color:purple;
}
img{
    border-style:outset;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #30E3CA;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color:whitesmoke;
  }
  /* nav{
    background-color:#30E3CA;
    padding: 10px 10px 10px 10px;
    color:black;
} */

/* li.nav{
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    display: inline;
    background-color:#30E3CA;
} */

.page-container{
    position: relative;
    min-height: 100vh;
  }
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
